@tailwind base;

@tailwind components;

@tailwind utilities;

section{
}

header{
  background-color: #333333;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  padding: 10px 0px 10px 70px;  
  z-index: 9999;
}

li{
    list-style: none;
}

button {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
    position: relative;
    top: -10px;
}

.pc-text-font {
  font-family: YuMincho;
  font-size: 18px;
  font-size: 18px;
  line-height: 180%;
  font-weight: 500;
}
.introduction-sp-text{
  font-family: YuMincho;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.08em;
  color: #212121;
}
.service-explain{
  
}
.bg-about{
  background-image: url(./pubulic/bg-gold.png);
  padding: 15px 80px;
  background-size: contain;
  background-repeat: no-repeat;
}
.wrap-service-explain{
  border-image: url('./pubulic/service-border-radium.jpg');
  border-image-slice: 33%;
	border-image-repeat: repeat;
	border-image-width: 13px;
}

.bg-service-explain{
  background: #FFFDF4;
}

.service-explain-title{
  color: #826651;
  font-family: YuMincho;
  font-style: normal;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.08em;
  text-shadow: 0px 2px 10px #A88C42;
  width: 98%;
  margin: 8px 0px;

}
.bg-gold-title{
  height: 50px;
  background-size: contain;
  width: 60%;
  margin: auto;
  background-repeat: no-repeat;
}

.service-explain-title-sp{
  font-family: YuMincho;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 160%;
/* or 29px */

text-align: center;
letter-spacing: 0.08em;

color: #826651;

/* ブラウンB */

text-shadow: 0px 2px 10px #A88C42;

  font-weight:lighter;
}

.service-explain-content{
  /* background: linear-gradient(49.97deg, #AD7421 2.26%, #B7822F 9.51%, #D8B25D 36.54%, #E5C46F 50%, #D8B25D 63.46%, #B7822F 90.48%, #AD7421 97.74%); */
  border: 4px solid #D8B25D;
  padding: 5px;
}

.service-explain-wrap{
  background: #FFFDF4;
  border: 4px solid #D8B25D;
  padding: 5px;}

.service-explain-sp{
  font-family: YuMincho;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  
  text-align: center;
  letter-spacing: 0.08em;
  
  color: #826651;

}
.service-explain-title-text{
  font-family: YuGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  padding: 20px 0px;
  letter-spacing: 0.08em;
  color: #222222;
}

.service-explain-text-sp{
  font-family: YuGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
  /* or 28px */
  
  text-align: justify;
  letter-spacing: 0.08em;
  
  color: #222222;
  width: 90%;
  margin: auto;
}

.why-text{
  font-family: YuMincho;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 220%;
  letter-spacing: 0.08em;
  color: #000000;
  padding-top: 40px;
  position: absolute;
  width: 52%;
}
.why-text-sp{
  font-family: YuMincho;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 220%;
  /* or 31px */

  letter-spacing: 0.05em;

  color: #000000;
}

.menu-explain-text{
  font-family: YuGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  /* or 31px */

  letter-spacing: 0.05em;

  color: #000000;
}
.menu-explain-text-sp{
  font-family: YuGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  /* or 24px */

  text-align: justify;
  letter-spacing: 0.05em;

  color: #000000;
}

.flow-element{
  height: 1400px;
}
.flow-element-sp{
}
.flow-text{
  font-family: YuGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* or 29px */

  letter-spacing: 0.08em;

  color: #000000;
}

.voices{
  padding: 50px 0px;
}

.voice-sub-title{
  font-family: YuMincho;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.08em;

  color: #000000;
}

.voice-ele{
  background: #FFFFFF;
  border: 2px solid #DFB967;
}

.voice-text{
  font-family: YuGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */
  
  text-align: justify;
  letter-spacing: 0.08em;
  
  color: #000000;
  
  
}

.flow-text-sp{
  font-family: YuGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  text-align: justify;
  letter-spacing: 0.08em;

  color: #000000;
}
.faq-q{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #222222;
}
.faq-a{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #C09932;
}

.faq-q-title{
  font-family: YuGothic;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.1em;

color: #222222;
}

.faq-a-text{
  font-family: YuGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */
  letter-spacing: 0.05em;
  color: #222222;
}

.faq-a-bg{
  background: #FAFAFA;
  padding:24px;
}

.attention-content{
  border: 4px solid #D8B25D;
  padding: 5px;
}

.attention-wrap{
  background: linear-gradient(49.97deg, #AD7421 2.26%, #B7822F 9.51%, #D8B25D 36.54%, #E5C46F 50%, #D8B25D 63.46%, #B7822F 90.48%, #AD7421 97.74%);
}

.attention-ele{
  background: #FFFDF4;
  border: 4px solid #D8B25D;

}

.attention-line{
  width: 100px;
  height: 1px;
  background-color: black;
}

.attention-title{
  font-family: YuMincho;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */

  letter-spacing: 0.08em;

  color: #000000;
}
.attention-title-sp{
  font-family: YuMincho;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */

letter-spacing: 0.08em;

color: #000000;
}
.attention-text{
  font-family: YuMincho;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 220%;
  /* or 31px */

  letter-spacing: 0.08em;

  color: #000000;
}
.attention-text-sp{
  font-family: YuMincho;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 220%;
  /* or 31px */
  letter-spacing: 0.05em;
  color: #000000;
}

.information-text{
  font-family: YuMincho;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 220%;
  /* or 31px */

  text-align: center;
  letter-spacing: 0.2em;

  color: #000000;
}

.information-text-sp{
  font-family: YuMincho;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */
  
  text-align: center;
  letter-spacing: 0.08em;
  
  color: #000000;
}
.shop-lists{

}
.shop-list{
  font-family: YuMincho;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 160%;
/* or 22px */
margin: 10px 0px;
letter-spacing: 0.08em;

color: #000000;

}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      